<p-table [value]="items" showGridlines>
  <ng-template #header>
    <tr>
      <th><app-header-action-field [defaultValue]="'Click on me to edit'" ></app-header-action-field></th>
      <th><app-header-action-field [defaultValue]="'Type'" ></app-header-action-field></th>
      <th><app-header-action-field [defaultValue]="'Description'" ></app-header-action-field></th>
    </tr>
  </ng-template>
  <ng-template #body let-product>
    <tr>
      <td>{{ product.parameter }}</td>
      <td>{{ product.type }}</td>
      <td>{{ product.description }}</td>
    </tr>
  </ng-template>
</p-table>
