@use "@fontsource/lato";
@use "primeflex/primeflex.scss";
@use "primeicons/primeicons.css";
@use "@fortawesome/fontawesome-free/css/all.css";


@use 'app/styles/variables' as *;

html {
  font-family: "Lato";
  background: var(--p-slate-100);
}
code {
  background-color: #f5f5f5;
  border-radius: 4px;
  padding: 2px 4px;
  color: #333;
}
strong {
  font-weight: 900;
}
.section-container {
  background: #fff;
  border: 1px solid var(--p-slate-200);;
  padding: $space-unit *4 ;
  margin-bottom: $space-unit * 4;
  box-shadow: $medium-shadow;
  border-radius:  $space-unit * 6;
}
